<nav th:fragment="navbar (active)">
    <div class="nav-wrapper">
        <ul class="left hide-on-med-and-down">
            <li th:classappend="${active == 'home'} ? active : ''"><a th:href="@{/}">Home</a></li>
            <li sec:authorize="hasRole('EMPLOYEE')" th:classappend="${active == 'user'} ? active : ''"><a th:href="@{/user}">User</a></li>
            <li sec:authorize="hasRole('HR')" th:classappend="${active == 'register'} ? active : ''"><a th:href="@{/register}" th:text="#{navbar.register}"></a></li>
        </ul>

        <ul sec:authorize="isAuthenticated()" class="right hide-on-med-and-down">
            <li th:classappend="${active == 'profile'} ? active : ''"><a th:href="@{/profile}" sec:authentication="name"></a></li>
            <li><form id="logout-form" th:action="@{/logout}" method="POST">
                <a onclick="document.getElementById('logout-form').submit();" th:text="#{home.logout-label}"></a>
            </form></li>
        </ul>

    </div>
</nav>