<!DOCTYPE html>
<html lang="pl"
    xmlns="http://www.thymeleaf.org/extras/dialect" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta th:replace="components/common-head" />
    <title>Admin page</title>
</head>
<body>
    <nav th:replace="components/navbar::navbar('admin')"></nav>
    <h1 th:text="#{home.welcome}">Admin page</h1>
    <p>ADMIN ADMIN ADMIN</p>
    Authenticated username:
    <div sec:authentication="name"></div>
    <a th:href="@{/}">Go back to homepage</a>
</body>
</html>